<nav class="main-menu">
    <a href="index.php">
        <figure class="main-menu__logo">
            <img src="./assets/cat.png" alt="logo">
        </figure>
    </a>
    <ul>
        <li><a href="produkty.php">Produkty</a></li>
        <li><a href="o-mnie.php">O mnie</a></li>
        <li><a href="kontakt.php">Kontakt</a></li>
    </ul>
</nav>

<section class="mobile">
    <a href="index.php">
        <figure class="mobile__logo">
            <img src="./assets/cat.png" alt="logo">
        </figure>
    </a>
    <div class="mobile__burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <aside class="mobile__menu">
        <nav>
            <ul>
                <li><a href="produkty.php">Produkty</a></li>
                <li><a href="o-mnie.php">O mnie</a></li>
                <li><a href="kontakt.php">Kontakt</a></li>
            </ul>
        </nav>
    </aside>
</section>